<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/main_style.css?ver={{ css_version }}">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Serif+KR|Noto+Sans+KR&display=swap&subset=korean" rel="stylesheet">
        <title>션쿠의 개인 블로그</title>
    </head>
    <body>
        <div class="background-content">
            <div class="logo">
                <a href="homepage">
                    {% load staticfiles %}
                    <img src="{% static "logo.png" %}">
                </a>
            </div>
            <div class="vertical-center">
                <div class="wrapper">
                    {% if request.session.username == None %}
                        <li><a href="signup">회원가입</a></li>
                        <li><a href="login">로그인</a></li>
                    {% else %}
                        {% if request.session.userid ==  superuser_id %}
                            블로그 관리자 님, 환영합니다!
                        {% else %}
                            {{ request.session.username }} 님, 환영합니다!
                        {% endif %}
                        <li><a href="logout">로그아웃</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="menu">
            <li><a href="">일상</a></li>
            <li><a href="">리그오브레전드</a></li>
            <li><a href="">Deep-Learning</a></li>
            <li><a href="web/list">WEB</a></li>
            <li><a href="">JAVA</a></li>
            <li><a href="">Window Issues</a></li>
            <li><a href="">개인</a></li>
            <li><a href="develop_log">사이트 개발로그</a></li>
        </div>
        <!-- 위까지 공통 부분 -->
        <div class="body-content">
            <div class="wrap-content">
                <div class="title-content">
                    <h1>션쿠의 블로그 개발 현황 및 로그</h1>
                </div>
                <div class="semi-title">
                VERSION : {{ version }}v 2019-05-24 PM 07:14 updated
                </div>
                <div class="main-content">
                    <div class="done">
                        <br><h4>version 0.2.3</h4><br>
                        <div class="indented">
                            - 유저 정보 조건 관리 최적화<br>
                            - 게시글 리스트 페이지 템플릿 85% 구현<br>
                        <br>
                        </div>
                        <br><h4>version 0.2.2</h4><br>
                        <div class="indented">
                            - 페이지 조회수 측정 구현<br>
                            - 블로그 superuser(관리자) 인식 구현<br>
                        <br>
                        </div>
                        <br><h4>version 0.2.1</h4><br>
                        <div class="indented">
                            - 로그인/로그아웃 세션 구현<br>
                        <br>
                        </div>
                        <br><h4>version 0.2.0</h4><br>
                        <div class="indented">
                            - 회원가입 창 구현<br>
                            - 회원가입 DB 연동 구현<br>
                            - 로그인 DB 연동 구현<br>
                        <br>
                        </div>
                        <br><h4>version 0.1.6</h4><br>
                        <div class="indented">
                            - 로그인 페이지 템플릿 90% 구현<br>
                        <br>
                        </div>
                        <br><h4>version 0.1.5</h4><br>
                        <div class="indented">
                            - 회원가입 탭 추가<br>
                        <br>
                        </div>
                        <br><h4>version 0.1.4</h4><br>
                        <div class="indented">
                            - 로그인 페이지 구현<br>
                        <br>
                        </div>
                        <br><h4>version 0.1.3</h4><br>
                        <div class="indented">
                            - 로그인 탭 구현<br>
                        <br>
                        </div>
                        <br><h4>version 0.1.2</h4><br>
                        <div class="indented">
                            - version string Global Variable로 구현하여 HTML과 연동 완료<br>
                            - 메뉴 탭 다량 추가<br>
                        <br>
                        </div>
                        <br><h4>version 0.1.1</h4><br>
                        <div class="indented">
                            - indented div class 구현<br>
                        <br>
                        </div>
                        <br><h4>version 0.1.0</h4><br>
                        <div class="indented">
                            - 사이트 개발로그 페이지 개발 시작<br>
                            - 사이트 개발로그 페이지 URL 작업 완료<br>
                            - 홈페이지 - logo URL 작업 완료<br>
                        <br>
                        </div>
                        <br><h4>under version 0.0.4</h4><br>
                        <div class="indented">
                            - 사이트 개발로그 페이지 기본 템플릿 완성<br>
                        </div>
                        <br>
                    </div>
                    <div class="to-do">
                        <br><h4>To-Do LIST</h4><br>
                        <div class="indented">
                            - pythonanywhere 서버의 static file 로드 안되는 문제 해결<br>
                            - POST request 처리 후 URL 문제 해결<br>
                            - 로그인 탭의 정보 기억하기 삭제<br>
                            - ID 중복 확인 구현<br>
                            - 조회수 실시간으로 안되는 오류 수정<br>
                        <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>