.list-box .navigator-wrapper{
    text-align: center;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;

    position: absolute;
    bottom: 115px;
}

.list-box .navigator-wrapper .prev-wrapper{
    margin-left: 15%;
    float: left;
}

.list-box .navigator-wrapper .page-navigator{
    display: inline-block;
    text-align: center;
    width: auto;
}

.list-box .navigator-wrapper .next-wrapper{
    margin-right: 15%;
    float: right;
}

.list-box .navigator-wrapper a{
    text-decoration: none;
    color: black;
}

.list-box .navigator-wrapper a:hover{
    color: #AAAAAA;
}

.list-box .navigator-wrapper .page-navigator li{
    list-style: none;
    float: left;
    display: inline-block;
    text-align: center;
}

.list-box .navigator-wrapper .page-navigator a, strong{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.list-box .navigator-wrapper .page-navigator a:hover{
    color: #AAAAAA;
}

.list-box .navigator-wrapper .prev-wrapper text{
    color: #CCCCCC;
}

.list-box .navigator-wrapper .next-wrapper text{
    color: #CCCCCC;
}