.content-field-wrapper{
    text-align: center;
    font-family: 'Noto Serif KR', serif;
}

.content-field-wrapper .content-box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #8080A0;

    width: 68%;

    display: inline-block;
    text-align: center;
}

.content-box .post-title-board{
    margin-top: 15px;
    font-family: 'Noto Serif KR', serif;

    font-size: 15px;
}

.post-content-wrapper{
    text-align: center;
}

.post-content-wrapper .post-body-wrapper{
    display: inline-block;
    width: 90%;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
}

.post-content-wrapper .post-body-wrapper .post-content{
    border-radius: 10px;

    background-color: #F0F0F0;
    display: inline-block;
    text-align: justify;
    width: 90%;

    padding: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.post-content-wrapper .post-path-content .post-title{
    font-weight: bold;
    font-size: 30px;
}

.post-content-wrapper .post-path-content .post-poster{
    font-weight: bold;
    font-size: 12px;
}