body, h1, h2, h4{
    margin: 0 !important;
    padding: 0 !important;
}

html, body{
    height: 100%;
}

.background-content{
    background-color: #253C4F;
    height: 80px;
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
}

.background-content img{
    height: 80px;
}

.background-content .logo{
    background-color: yellow;
    float: left;
}

.background-content .vertical-center{
    top: 50%;
    /*background-color: cyan;*/
    width: 100%;
    padding: 30px;
}

.background-content .vertical-center .wrapper{
    text-align: right;
}

.background-content .vertical-center li{
    list-style: none;
}

.background-content .vertical-center a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    /*background-color: rebeccapurple;*/
}

.menu{
    list-style: none;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #C0C0C0;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
}

.menu li{
    display: inline;
}

.menu a{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    color: #000000;
}

.body-content{
    background-color: #E7E7EF;
    padding-top: 40px;
    margin-bottom: 0;
    height: 100%;
}

.body-content .title-content{
    font-size: 21px;
    font-family: 'Noto Serif KR', serif;
}

.body-content .semi-title{
    padding-top: 5px;
    font-size: 16px;
    font-family: 'Do Hyeon', sans-serif;
}

.body-content .main-content{
    padding-top: 80px;
    font-family: 'Noto Serif KR', serif;
}

.body-content .wrap-content .main-content h4{
    margin: 0;
}

.wrap-content{
    width: 1300px;
    margin: auto;
}

.indented{
    padding-left: 2em;
}

.main-content .done{
    width: 650px;
    float: left;
}

.main-content .to-do{
    width: 650px;
    float: left;
}


.body-content .wrap-content .login-parent{
    margin-top: 100px;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
}

.body-content .wrap-content .login-parent .login-content-wrapper{
    display: inline-block;
    width: 900px;
    height: 450px;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #8080A0;
    text-align: center;
    padding: 3%;
    background-color: white;
}

.login-content-wrapper .text-container{
    float: left;
    background-color: yellow;
    width: 30%;
    height: 55%;
    margin-left: 70px;
    margin-top: 40px;
}

.login-content-wrapper .textfield{
    float: left;
    background-color: blue;
    width: 55%;
    height: 55%;
    margin-top: 40px;
}

.login-content-wrapper .login-text{
    font-size: 30px;
}