<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/main_style.css?ver={{ css_version }}">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Serif+KR|Noto+Sans+KR&display=swap&subset=korean" rel="stylesheet">
        <title>션쿠의 개인 블로그</title>
    </head>
    <body>
        <!-- 아래까지 공통 부분 -->
        <div class="background-content">
            <div class="logo">
                <a href="../homepage">
                    {% load staticfiles %}
                    <img src="{% static "logo.png" %}">
                </a>
            </div>
            <div class="vertical-center">
                <div class="wrapper">
                    {% if request.session.username == None %}
                        <li><a href="../signup">회원가입</a></li>
                        <li><a href="../login">로그인</a></li>
                    {% else %}
                        {% if request.session.userid ==  superuser_id %}
                            블로그 관리자 님, 환영합니다!
                        {% else %}
                            {{ request.session.username }} 님, 환영합니다!
                        {% endif %}
                        <li><a href="../logout">로그아웃</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="menu">
            <li><a href="../board?name=free">자유게시판</a></li>
            <li><a href="../board?name=routine">일상</a></li>
            <li><a href="../board?name=league-of-legends">리그오브레전드</a></li>
            <li><a href="../board?name=deep-learning">Deep-Learning</a></li>
            <li><a href="../board?name=web">WEB</a></li>
            <li><a href="../board?name=java">JAVA</a></li>
            <li><a href="../board?name=window-issues">Window Issues</a></li>
            <li><a href="../board?name=individual">개인</a></li>
            <li><a href="../develop_log">사이트 개발로그</a></li>
        </div>
        <!-- 위까지 공통 부분 -->
        <div class="body-content">
            <div class="wrap-content">
                <div class="title-content">
                    <h1>션쿠의 블로그 개발 현황 및 로그</h1>
                </div>
                <div class="semi-title">
                VERSION : {{ version }}<br>Last Update : 2019-05-28 AM 5:51
                </div>
                <div class="main-content">
                    <div class="done">
                        <br><h4>version 0.6.4</h4>
                        <div class="indented">
                            - 댓글 삭제 안되는 오류 수정<br>
                            - 날짜/시간 표현 수정<br>
                        </div>
                        <br><h4>version 0.6.3</h4>
                        <div class="indented">
                            - 댓글 삭제 기능 추가<br>
                            - 이제 댓글 등록 시 내용 없으면 form action 리턴하지 않음<br>
                            - 닉네임 중복 확인 후 닉네임 필드 값 초기화<br>
                            - 이제 자신의 댓글만 삭제할 수 있음, 블로그 관리자는 항상 삭제 가능<br>
                            - 갈 수 없는 페이지에 접근시 forbidden 처리<br>
                        </div>
                        <br><h4>version 0.6.2</h4>
                        <div class="indented">
                            - 코드 부분 최적화<br>
                            - show post 시 게시자 이름 및 포스팅 시간, 조회수 표시<br>
                        </div>
                        <br><h4>version 0.6.1</h4>
                        <div class="indented">
                            - ID 중복 확인 후 ID 필드 값 초기화<br>
                            - POST request 처리 후 URL 문제 해결<br>
                            - 댓글에 닉네임이 아닌 ID가 표시되는 오류 수정<br>
                        </div>
                        <br><h4>version 0.6.0</h4>
                        <div class="indented">
                            - 댓글 기능 구현<br>
                            - 댓글 등록 시 스크롤 위치로 리턴, 애니메이션 추가<br>
                            - 회원가입 시 ID 중복 확인 구현<br>
                        </div>
                        <br><h4>version 0.5.X</h4>
                        <div class="indented">
                            - 게시판 페이지 탭 구조 변경<br>
                            - 게시판 페이지 탭 안뜨는 오류 수정<br>
                            - 블로그관리자만 개인 게시판을 관리할 수 있도록 수정<br>
                            - 로그인 탭의 정보 기억하기 삭제<br>
                            - 게시글에 조회수 및 Path 표시 구현<br>
                            - 내용이 증가함에 따라 div height이 증가하지 않는 오류 수정<br>
                        </div>
                        <br><h4>version 0.4.X</h4>
                        <div class="indented">
                            - 비로그인 상태로 게시판에서 포스트 시도 시 로그인으로 전송 및 콜백 구현<br>
                            - 버그 수정<br>
                            - 포스트 글쓰기 페이지 정규화<br>
                            - 게시판 마다 정보 업데이트되게 수정<br>
                            - 거의 대부분의 페이지 구현 완료<br>
                        </div>
                        <br><h4>version 0.3.X</h4>
                        <div class="indented">
                            - 페이지 탭 구현<br>
                            - 조회수 실시간으로 안되는 오류 수정<br>
                            - 템플릿 업데이트가 안되는 오류 수정<br>
                            - 게시글 작성 구현<br>
                            - summernote form post 데이터 저장<br>
                            - summernote form post 데이터 표현<br>
                        </div>
                        <br><h4>version 0.2.X</h4>
                        <div class="indented">
                            - 로그아웃할 때 유저 ID 세션 남아있는 오류 수정<br>
                            - 게시글 작성 폼 구현<br>
                            - 유저 정보 조건 관리 최적화<br>
                            - 게시글 리스트 페이지 템플릿 85% 구현<br>
                            - 페이지 조회수 측정 구현<br>
                            - 블로그 superuser(관리자) 인식 구현<br>
                            - 로그인/로그아웃 세션 구현<br>
                        </div>
                        <br><h4>under version 0.2.0</h4>
                        <div class="indented">
                            - 회원가입 창 구현<br>
                            - 회원가입 DB 연동 구현<br>
                            - 로그인 DB 연동 구현<br>
                            - 로그인 페이지 템플릿 90% 구현<br>
                            - 회원가입 탭 추가<br>
                            - 로그인 페이지 구현<br>
                            - 로그인 탭 구현<br>
                            - version string Global Variable로 구현하여 HTML과 연동 완료<br>
                            - 메뉴 탭 다량 추가<br>
                            - indented div class 구현<br>
                            - 사이트 개발로그 페이지 개발 시작<br>
                            - 사이트 개발로그 페이지 URL 작업 완료<br>
                            - 홈페이지 - logo URL 작업 완료<br>
                            - 사이트 개발로그 페이지 기본 템플릿 완성<br>
                        </div>
                    </div>
                    <div class="to-do">
                        <br><h4>To-Do Preferred</h4>
                        <div class="indented">
                            - 게시글 수정 및 삭제 기능 추가<br>
                            - 게시글 검색 기능 추가<br>
                            - 서버 호스팅<br>
                        </div>
                        <br><h4>To-Do List</h4>
                        <div class="indented">
                            - 홈페이지 글 수정 기능 추가<br>
                            - 댓글 navigator 완성<br>
                            - 댓글 답글 기능 추가 (최상위 계층 댓글 대상)<br>
                            - 포스팅 시 사진 저장 추가<br>
                            - 게시글 포스팅 시 내용 없으면 오류 리턴<br>
                        </div>
                        <br><h4>To-Do Low-Preference</h4>
                        <div class="indented">
                            - 댓글 등록 시 그 자리에서 바로 애니메이션으로 추가<br>
                            - 디스플레이 우측 Go Top 추가 (보류)<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>