<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/main_style.css?ver={{ css_version }}">
        <link rel="stylesheet" type="text/css" href="../../static/document_write.css?ver={{ css_version }}">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Serif+KR|Noto+Sans+KR&display=swap&subset=korean" rel="stylesheet">
        <title>션쿠의 개인 블로그</title>
    </head>
    <body>
        <!-- 아래까지 공통 부분 -->
        <div class="background-content">
            <div class="logo">
                <a href="../homepage">
                    {% load staticfiles %}
                    <img src="{% static "logo.png" %}">
                </a>
            </div>
            <div class="vertical-center">
                <div class="wrapper">
                    {% if request.session.username == None %}
                        <li><a href="../signup">회원가입</a></li>
                        <li><a href="../login">로그인</a></li>
                    {% else %}
                        {% if request.session.userid ==  superuser_id %}
                            블로그 관리자 님, 환영합니다!
                        {% else %}
                            {{ request.session.username }} 님, 환영합니다!
                        {% endif %}
                        <li><a href="../logout">로그아웃</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="menu">
            <li><a href="../board?name=free">자유게시판</a></li>
            <li><a href="../board?name=routine">일상</a></li>
            <li><a href="../board?name=league-of-legends">리그오브레전드</a></li>
            <li><a href="../board?name=deep-learning">Deep-Learning</a></li>
            <li><a href="../board?name=web">WEB</a></li>
            <li><a href="../board?name=java">JAVA</a></li>
            <li><a href="../board?name=window-issues">Window Issues</a></li>
            <li><a href="../board?name=individual">개인</a></li>
            <li><a href="../develop_log">사이트 개발로그</a></li>
        </div>
        <!-- 위까지 공통 부분 -->
        <div class="body-content">
            <div class="wrap-content">
                <div class="content-field-wrapper">
                    <div class="box-title">{{ board_name }} 게시판에 글쓰기</div>
                    <hr style="width: 90%; height: 2px; border:none; background-color: black">
                    <form action="posting?board={{ classification }}" method="post" onsubmit="return check_form();">
                        {% csrf_token %}
                        <div class="box-content">
                            <div class="document-title">
                                <input id="doc_title" type="text" name="doc-title" size="55" placeholder="36바이트 이내로 제목을 입력하세요." autocomplete="off" maxlength="45" spellcheck="false" required>
                            </div>
                            <div class="textarea-wrapper">
                                {{ form|safe }}
                            </div>
                            <div class="button-wrapper">
                                <input id="login_confirm_btn" type="submit" value="포스팅">
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        function get_byte_from_str(str){
                            let total_byte = 0
                            for(let index = 0, len = str.length; index < len; index++){
                                var cur_byte = str.charCodeAt(index);
                                (cur_byte > 128) ? total_byte += 2 : total_byte++;
                            }
                            return total_byte;
                        }

                        function check_form(){
                            let title_str = document.getElementById('doc_title').value;
                            bytes = get_byte_from_str(title_str);
                            if(bytes>36){
                                alert("포스트 제목 길이가 "+(bytes-36).toString()+"바이트 초과되었습니다.");
                                return false;
                            }
                            return true;
                        }
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>