<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/main_style.css?ver={{ css_version }}">
        <link rel="stylesheet" type="text/css" href="../../static/document_list.css?ver={{ css_version }}">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Serif+KR|Noto+Sans+KR&display=swap&subset=korean" rel="stylesheet">
        <title>션쿠의 개인 블로그</title>
    </head>
    <body>
        {% if classification == "individual" %}
            {% if request.session.userid != superuser_id %}
                <script>
                    alert('개인 게시판은 블로그 관리자만 접근 가능합니다.\n블로그 관리자라면 로그인 해주십시오.');
                    window.location.href='/homepage';
                </script>
            {% endif %}
        {% endif %}
        <!-- 아래까지 공통 부분 -->
        <div class="background-content">
            <div class="logo">
                <a href="../homepage">
                    {% load staticfiles %}
                    <img src="{% static "logo.png" %}">
                </a>
            </div>
            <div class="vertical-center">
                <div class="wrapper">
                    {% if request.session.username == None %}
                        <li><a href="../signup">회원가입</a></li>
                        <li><a href="../login">로그인</a></li>
                    {% else %}
                        {% if request.session.userid ==  superuser_id %}
                            블로그 관리자 님, 환영합니다!
                        {% else %}
                            {{ request.session.username }} 님, 환영합니다!
                        {% endif %}
                        <li><a href="../logout">로그아웃</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="menu">
            <li><a href="../board?name=free">자유게시판</a></li>
            <li><a href="../board?name=routine">일상</a></li>
            <li><a href="../board?name=league-of-legends">리그오브레전드</a></li>
            <li><a href="../board?name=deep-learning">Deep-Learning</a></li>
            <li><a href="../board?name=web">WEB</a></li>
            <li><a href="../board?name=java">JAVA</a></li>
            <li><a href="../board?name=window-issues">Window Issues</a></li>
            <li><a href="../board?name=individual">개인</a></li>
            <li><a href="../develop_log">사이트 개발로그</a></li>
        </div>
        <!-- 위까지 공통 부분 -->
        <div class="body-content">
            <div class="wrap-content">
                <div class="small-window-wrapper">
                    <div class="status-box">
                        <div class="page-name">
                            <h1>{{ board_name }}</h1>
                        </div>
                        <hr width="80%">
                        <div class="detail-wrapper">
                            <div class="detail-name">
                                <li>방문 횟수</li>
                                <li>총 조회 수</li>
                                <li>게시글 수</li>
                                <li>덧글 수</li>
                            </div>
                            <div class="detail-value">
                                <li>{{ visits }}</li>
                                <li>{{ page_viewed_total }}</li>
                                <li>{{ post_num }}</li>
                                <li>4</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="big-window-wrapper">
                    <div class="list-box">
                        <div class="list-name">
                            <h1>게시글 목록</h1>
                        </div>
                        <hr style="width: 90%; height: 2px; border:none; background-color: black">
                        <div class="list-classify">
                            <li id="doc_no">글 번호</li>
                            <li id="doc_title">제목</li>
                            <li id="doc_writer">작성자</li>
                            <li id="doc_time">작성일자</li>
                            <li id="doc_visit_cnt">조회수</li>
                        </div>
                        <hr style="width: 90%; height: 2px; border:none; background-color: black">
                        <!-- Data Area -->
                        <div class="list-wrapper">
                            {% for docs in posts %}
                                <div id="index-list">{{ docs.doc_index }}</div>
                                <div id="title-list">
                                    <a id="title-list-a" href="postview?pindex={{ docs.doc_index }}&classify={{ classification }}">{{ docs.doc_title }}</a>
                                </div>
                                <div id="writer-list">{{ docs.doc_writer }}</div>
                                <div id="time-list">{{ docs.doc_time }}</div>
                                <div id="visit-count-list">{{ docs.doc_view_cnt }}</div>
                                <hr style="width: 100%; height: 1px; border:none; background-color: #BBBBBB">
                            {% endfor %}
                        </div>
                        <div class="navigator-wrapper">
                            <div class="prev-wrapper">
                                {% if posts.has_previous %}
                                    <a href="?name={{ classification }}&page={{ posts.previous_page_number }}">prev</a>
                                {% else %}
                                    <a style="color: #CCCCCC;">prev</a>
                                {% endif %}
                            </div>
                            <div class="page-navigator">
                                {% for page in posts.paginator.page_range %}
                                    {% if page in page_range %}
                                        <li class="page-linker">
                                            {% if posts.number == page %}
                                                <strong style="color: #5555EE;">{{ page }}</strong>
                                            {% else %}
                                                <a href="?name={{ classification }}&page={{ page }}">{{ page }}</a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="next-wrapper">
                                {% if posts.has_next %}
                                    <a href="?name={{ classification }}&page={{ posts.next_page_number }}">next</a>
                                {% else %}
                                    <a style="color: #CCCCCC;">next</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="write-button-wrapper">
                            <button id="write_new_doc" onclick="is_session_alive()" type="button">글쓰기</button>
                        </div>
                        <script>
                            function is_session_alive(){
                                {% if request.session.username == None %}
                                    alert('포스팅을 하시려면 우선 로그인해야 합니다.');
                                    location.href='/login?call={{ classification }}';
                                {% else %}
                                    location.href='/write-post?board={{ classification }}';
                                {% endif %}
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>