<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/main_style.css?ver={{ css_version }}">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Serif+KR|Noto+Sans+KR&display=swap&subset=korean" rel="stylesheet">
        <title>션쿠의 개인 블로그</title>
    </head>
    <body>
        <!-- 아래까지 공통 부분 -->
        <div class="background-content">
            <div class="logo">
                <a href="../homepage">
                    {% load staticfiles %}
                    <img src="{% static "logo.png" %}">
                </a>
            </div>
            <div class="vertical-center">
                <div class="wrapper">
                    {% if request.session.username == None %}
                        <li><a href="../signup">회원가입</a></li>
                        <li><a href="../login">로그인</a></li>
                    {% else %}
                        {% if request.session.userid ==  superuser_id %}
                            블로그 관리자 님, 환영합니다!
                        {% else %}
                            {{ request.session.username }} 님, 환영합니다!
                        {% endif %}
                        <li><a href="../logout">로그아웃</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="menu">
            <li><a href="../board?name=free">자유게시판</a></li>
            <li><a href="../board?name=routine">일상</a></li>
            <li><a href="../board?name=league-of-legends">리그오브레전드</a></li>
            <li><a href="../board?name=deep-learning">Deep-Learning</a></li>
            <li><a href="../board?name=web">WEB</a></li>
            <li><a href="../board?name=java">JAVA</a></li>
            <li><a href="../board?name=window-issues">Window Issues</a></li>
            <li><a href="../board?name=individual">개인</a></li>
            <li><a href="../develop_log">사이트 개발로그</a></li>
        </div>
        <!-- 위까지 공통 부분 -->
        <div class="body-content">
            <div class="wrap-content">
                <div class="signup-parent">
                    <div class="signup-content-wrapper">
                        <div class="signup-text">
                            <h3>계정 생성</h3>
                        </div>
                        <form action="save_data" method="post" onsubmit="return generate_account();">
                            {%  csrf_token %}
                            <div class="textfield">
                                <div class="new-ID-textfield">
                                    <input id="user_id" type="text" name="user-id" size="40" placeholder="아이디" autocomplete="off" maxlength="100" spellcheck="false">
                                </div>
                                 <div class="new-nickname-textfield">
                                    <input id="user_nick" type="text" name="user-nickname" size="40" placeholder="닉네임" autocomplete="off" maxlength="100" spellcheck="false">
                                </div>
                                <div class="new-PW-textfield">
                                    <input id="user_pw" type="password" name="user-pw" size="40" placeholder="비밀번호" autocomplete="off" maxlength="100" spellcheck="false">
                                </div>
                                <div class="new-PW-textfield">
                                    <input id="user_pwr" type="password" name="user_pwr" size="40" placeholder="비밀번호 확인" autocomplete="off" maxlength="100" spellcheck="false">
                                </div>
                            </div>
                            <div class="hintfield">
                                <p style="text-align: left;" id="hint1">영문 포함 {{ user_info_condition.ID_MIN_LEN }}자 이상 {{ user_info_condition.ID_MAX_LEN }}자 이하</p>
                                <p style="text-align: left;" id="hint2">한글/영문/숫자 {{ user_info_condition.NICK_MIN_LEN }}자 이상 {{ user_info_condition.NICK_MAX_LEN }}자 이하</p>
                                <p style="text-align: left;" id="hint3">영문 포함 {{ user_info_condition.PW_MIN_LEN }}자 이상 {{ user_info_condition.PW_MAX_LEN }}자 이하</p>
                                <p style="text-align: left;" id="hint4">비밀번호와 일치해야함</p>
                            </div>
                            <div class="button-field">
                                <button id="generate_btn" type="submit" name="generate">생성</button>
                            </div>
                        </form>
                        <script type="text/javascript">
                            function is_alphabet(letter){
                                if(letter>='A'&&letter<='Z')return true;
                                if(letter>='a'&&letter<='z')return true;
                                return false;
                            }
                            function is_including_alphabet(charset){
                                for(let i=0;i<charset.length;i++) {
                                    if (is_alphabet(charset.charAt(i))) return true;
                                }
                                return false;
                            }
                            function generate_account(){
                                //ID 중복 검사

                                let user_id_len = document.getElementById('user_id').value.length;
                                let user_nk_len = document.getElementById('user_nick').value.length;
                                let user_pw_len = document.getElementById('user_pw').value.length;
                                let user_id_str = document.getElementById('user_id').value;
                                let user_nk_str = document.getElementById('user_nick').value
                                let user_pw_str = document.getElementById('user_pw').value;
                                let user_pwr_str = document.getElementById('user_pwr').value;

                                let is_passed = true;

                                document.getElementById('hint1').style.color = "#AAAAAA";
                                document.getElementById('hint2').style.color = "#AAAAAA";
                                document.getElementById('hint3').style.color = "#AAAAAA";
                                document.getElementById('hint4').style.color = "#AAAAAA";

                                //ID check
                                if(!is_including_alphabet(user_id_str) || (user_id_len<{{ user_info_condition.ID_MIN_LEN }}||user_id_len>{{ user_info_condition.ID_MAX_LEN }})){
                                    document.getElementById('hint1').style.color = "red";
                                    is_passed = false;
                                }
                                if(user_nk_len<{{ user_info_condition.NICK_MIN_LEN }}||user_nk_len>{{ user_info_condition.NICK_MAX_LEN }}){
                                    document.getElementById('hint2').style.color = "red";
                                    is_passed = false;
                                }
                                if(!is_including_alphabet(user_pw_str) || (user_pw_len<{{ user_info_condition.PW_MIN_LEN }}||user_pw_len>{{ user_info_condition.PW_MAX_LEN }})){
                                    document.getElementById('hint3').style.color = "red";
                                    is_passed = false;
                                }
                                if(user_pw_str.localeCompare(user_pwr_str)){
                                    document.getElementById('hint4').style.color = "red";
                                    is_passed = false;
                                }

                                if(!is_passed) return false;


                                {% for user in user_information %}
                                    if("{{ user.user_id }}" == user_id_str){
                                        alert('이미 존재하는 아이디입니다.');
                                        document.getElementById('user_id').value = "";
                                        return false;
                                    }
                                {% endfor %}


                                alert('해당 정보로 로그인하시기 바랍니다.');
                                return true;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>